h1 {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  margin-left: auto;
  margin-right: 30px;
}

#numpad {
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f9fa;
  width: 319px;
  height: 482px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  user-select: none;
}

.key,
.num,
.operator {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  background-color: #e9ecef;
  font-size: 40px;
  cursor: pointer;
}

#display {
  display: flex;
  align-items: center;
  text-align: right;
  height: 70px;
  border-radius: 5px;
  border: 1px solid black;
  width: 304px;
  font-size: 40px;
  background-color: #f5f5f5;
  justify-content: flex-end;
  padding-right: 10px;
}

.key:nth-child(2) {
  background-color: #adb5bd;
}

.key:nth-child(3) {
  width: 152px;
  font-size: 30px;
  background-color: #adb5bd;
}

.operator:nth-child(4),
.operator:nth-child(8),
.operator:nth-child(12),
.operator:nth-child(16),
.operator:nth-child(19) {
  background-color: #ced4da;
}

.num:hover {
  background-color: #6c757d;
  color: #fff;
}

.num:active {
  background-color: #495057;
  color: #fff;
}

.operator:hover {
  background-color: #343a40;
  color: #fff;
}

.operator:active {
  background-color: #212529;
  color: #fff;
}

.num:nth-child(17) {
  width: 152px;
}

span {
  padding-bottom: 5px;
}

#mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
